* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  width: 100%;
  header {
    // HEADER DA CONTA
    .header-account {
      height: 80px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 0 20px;

      &-common {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .logo {
          width: 102px;
          height: 25px;
        }

        // Minha Conta e Meu Carrinho
        &-login {
          .account {
            display: none;
            align-items: center;
            cursor: pointer;

            p {
              font-size: 13px;
              line-height: 18px;
              margin-left: 6px;
              width: 74px;
              height: 18px;
              color: #7a7a7a;
            }
          }
          .cart {
            display: flex;
            align-items: center;
            cursor: pointer;

            &-counter {
              border-radius: 50%;
              width: 14px;
              background: #f8475f;
              height: 14px;
              margin-left: 5px;
              display: flex;
              align-items: center;
              justify-content: center;

              &-number {
                color: #fff;
                font-size: 10px;
                font-family: "Nunito", sans-serif;
                font-weight: bold;
              }
            }
          }
        }
      }

      // Busca
      .search {
        border-bottom: 1px solid #7a7a7a;
        width: 280px;
        height: 23px;
        display: flex;
        justify-content: space-between;

        input {
          width: 224px;
          border: none;
          font-size: 13px;
          line-height: 18px;
          color: #7a7a7a;

          &:focus {
            outline: none;
          }
        }
      }
    }

    // HEADER BANNER
    .header-banner {
      position: relative;
      height: 191px;
      cursor: pointer;

      &-text {
        color: #ffffff;
        position: absolute;
        z-index: 10;
        width: 100%;
        height: 100%;
        display: flex;
        // align-items: center;
        flex-direction: column;
        justify-content: center;
        left: 0px;
        top: 0;

        padding: 0 20px;
        font-family: "Nunito", sans-serif;
        font-style: normal;
        font-size: 20px;

        background: rgba(0, 0, 0, 0.55);
        // background-blend-mode: multiply;

        &--secondary {
          // font-family: "Nunito", sans-serif;
          // font-style: normal;
          font-size: 20px;
          font-weight: 500;
          line-height: 26px;
          margin-bottom: 5px;
          letter-spacing: 0.3px;
        }

        &--principal {
          font-family: "Nunito", sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 27px;
          width: 100%;
          line-height: 25px;
        }
      }

      &-images {
        &--secondary {
          display: none;
          background-image: url("../../assets/Banner1.png");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: 70%;
          width: 320px;
          height: 191px;
        }

        &--principal {
          background-image: url("../../assets/image_2.png");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: 70%;
          width: 100%;
          height: 191px;
        }
      }
    }
  }

  main {
    // padding: 16px 12px;

    .best-sellers {
      margin-bottom: 50px;

      h2 {
        font-family: "Nunito", sans-serif;
        font-weight: 900;
        font-size: 18px;
        margin: 16px 0 14px 13px;

        &::after {
          height: 3.5px;
          width: 32px;
          background: #c0c0c0;
          content: "";
          display: block;
          margin-top: 5px;
        }
      }

      .slick-slide {
        margin: 0 13px;
      }

      .product {
        width: 100%;
        display: flex !important;
        flex-direction: column;
        // Para posicionar a flag promocional
        max-width: 216px;
        position: relative;

        img {
          width: 100%;
          cursor: pointer;
        }

        &-flag {
          width: 0;
          height: 0;
          border-left: 30px solid transparent;
          border-right: 30px solid transparent;
          border-bottom: 30px solid #f8475f;
          transform: rotate(45deg);
          position: absolute;
          right: -20px;
          top: -4px;

          p {
            font-size: 10px;
            font-family: "Nunito", sans-serif;
            text-transform: uppercase;
            color: #fff;
            transform: rotate(-45deg);
            position: absolute;
            right: -10px;
            top: 12px;
          }
        }

        &-title {
          cursor: pointer;
          width: 140px;
          text-transform: uppercase;
          font-size: 14px;
          color: #7a7a7a;
          text-align: center;
          margin-bottom: 10px;
        }

        &-sold {
          display: flex;
          justify-content: center;
          height: 15px;
          font-size: 11px;
          color: #7a7a7a;
          line-height: 15px;
          text-decoration-line: line-through;
        }

        &-price {
          height: 15px;
          display: flex;
          justify-content: center;
          font-size: 16px;
          font-weight: bold;
          line-height: 22px;
          margin-bottom: 3px;

          &-installment {
            height: 15px;
            display: flex;
            justify-content: center;
            font-size: 11px;
            line-height: 15px;
            color: #7a7a7a;
            margin-bottom: 4px;
          }
        }

        &-buy {
          cursor: pointer;
          width: 100%;
          height: 36px;
          border-radius: 6px;
          border: 0;
          background: black;
          text-transform: uppercase;
          font-family: "Ubuntu", sans-serif;
          font-weight: bold;
          color: #fff;
          letter-spacing: 1px;
        }
      }
    }
  }

  .newsletter {
    padding: 16px 20px;
    font-family: "Lato";
    font-weight: bold;
    font-size: 22px;
    height: 276px;
    width: 100%;
    background-color: #f2f2f2;

    p {
      font-family: "Lato";
    }

    &-register {
      &-input {
        input {
          width: 100%;
          height: 48px;
          border-radius: 5px;
          border: 0;
          padding: 0 16px;
          margin-top: 22px;
          font-family: "Lato", sans-serif;
          font-weight: bold;
          font-size: 12px;
          color: #585858;
          line-height: 14px;
        }
      }

      button {
        cursor: pointer;
        background-color: #000;
        border-radius: 5px;
        border: 0;
        width: 100%;
        height: 48px;
        color: #fff;
        font-weight: bold;
        font-family: "Lato", sans-serif;
        margin-top: 7px;
      }
    }
  }

  footer {
    padding: 25px 20px;
    background-color: #000;
    width: 100%;
    height: 386px;
    color: #fff;
    font-family: "Nunito", sans-serif;

    .footer-local {
      h2 {
        font-size: 18px;
        font-weight: 500;
        font-family: "Nunito", sans-serif;

        &::after {
          content: "";
          width: 32px;
          height: 4px;
          background-color: #fff;
          display: block;
          margin-top: 10px;
        }
      }

      p {
        font-size: 13px;
        line-height: 24px;
        margin-top: 11px;
        font-family: "Nunito", sans-serif;
      }

      a {
        cursor: pointer;
        color: #fff;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .footer-contact {
      padding: 0 50px;

      button {
        cursor: pointer;
        // Estilização da Letra
        font-weight: 600;
        font-size: 12px;
        font-family: "Nunito", sans-serif;
        text-transform: uppercase;
        line-height: 12px;
        // Estilizacao de tamanho e espaçamentos
        padding: 0 5px;
        width: 100%;
        height: 38px;
        margin-top: 26px;
        // Estilização da box
        border-radius: 5px;
        border: 0;
        background-color: #fff;
        // Estilização dentro da box
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        p {
          width: 120px;
        }
      }
    }

    .footer-developers {
      font-size: 10px;
      font-family: "Nunito", sans-serif;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 24px 30px 5px 30px;
    }
  }
}

// para tela de 380 pixels
@media (min-width: 380px) {
  body {
    main {
      .best-sellers {
        .product {
          // padding: 0 8px 0 0;
        }
      }
    }
  }
}

// para tela de 420 pixels
@media (min-width: 420px) {
  body {
    header {
      .header-banner {
        &-text {
          // padding: 0 30px;
        }
      }
    }

    // main {
    //   .best-sellers-carousel {
    //     .slick-list {
    //       .slick-track {
    //         .slick-slide {
    //           width: 140px !important;
    //           margin-right: 70px;
    //         }
    //       }
    //     }
    //   }
    // }

    footer {
      .footer-contact {
        padding: 0 70px;
      }
    }
  }
}

// para tela de 768 pixels
@media (min-width: 768px) {
  body {
    header {
      .header-account {
        padding: 0 30px;

        &-common {
          .hamburguer-menu {
            display: none;
          }

          .logo {
            width: 170px;
            height: 41px;
          }

          &-login {
            display: flex;
            .account {
              display: flex;
              margin-right: 21px;
            }
          }
        }

        .search {
          position: absolute;
        }
      }
      .header-banner {
        height: 350px;
        &-text {
          padding: 0 150px;
          background-color: transparent;
        }
        &-images {
          &--secondary {
            display: block;
          }
          &--principal {
            height: 350px;
            position: absolute;
            top: 0;
          }
        }
      }
    }

    .newsletter {
      height: 146px;

      p {
        display: flex;
        justify-content: center;
      }

      &-register {
        display: flex;
        justify-content: center;
        margin-top: 16px;

        &-input {
          display: flex;
          input {
            width: 280px;
            margin-top: 0;
            margin-right: 20px;
          }
        }

        button {
          width: 140px;
          margin-top: 0;
        }
      }
    }

    footer {
      display: flex;
      flex-direction: row;
      justify-content: center;
      height: 213px;
      .footer-contact {
        padding: 0 76px;
        button {
          width: 195px;
        }
      }

      .footer-developers {
        display: flex;
        align-items: center;
        padding: 0;

        &-corebiz {
          margin-right: 30px;
        }
      }
    }
  }
}

@media (min-width: 769px) {
  body {
    header {
      .header-banner {
        height: 350px;
        &-text {
          padding: 0 150px;
          background-color: transparent;
        }
        &-images {
          display: flex;
          height: 100%;

          &--secondary {
            width: 100%;
            height: 100%;
            background-position: 100%;
            background-size: cover;
            z-index: 5;
          }
          &--principal {
            height: 350px;
            background-size: cover;
            margin-left: -60px;
            position: unset;
            background-position: left;
          }
        }
      }
    }

    main {
      padding: 16px 100px;
      .best-sellers {
        h2 {
          padding-left: 0px;
        }

        .slick-prev:before,
        .slick-next:before {
          color: #000;
        }

        .slick-prev:before {
          content: url("../../assets/Vectorarrow.svg");
        }
        .slick-next:before {
          content: url("../../assets/Vectorarrow.svg");
          transform: rotate(180deg);
          display: block;
        }
      }
    }

    footer {
      .footer-contact {
        padding: 0 92px;
      }
    }
  }
}

@media (min-width: 1024px) {
  body {
    footer {
      .footer-contact {
        padding: 0 145px;
      }
    }
  }
}

@media (min-width: 1280px) {
  body {
    header {
      .header-account {
        padding: 0 95px;

        .search {
          width: 660px;
        }
      }
    }
  }
}
